In [3]:
import pandas as pd
file1 = pd.read_csv('E:/downloads/Advertising.csv',index_col=0)
file1.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\vipul\appdata\local\programs\python\python310\lib\site-packages (9.2.0)

WARNING: You are using pip version 21.2.3; however, version 25.0.1 is available.
You should consider upgrading via the 'C:\Users\vipul\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [2]:
import mysql.connector

In [4]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="725@Mysql",
    database="starexdb"
)

cursor = conn.cursor()

In [ ]:
for idx,data_row in file1.iterrows():
    #print(data_row)
    sql_query = "insert into advertising (tv,radio,newspaper,sales) values (%s , %s, %s, %s)"
    values = (data_row['TV'],data_row['radio'],data_row['newspaper'],data_row['sales'])
    cursor.execute(sql_query,values)

conn.commit()
cursor.close()
conn.close()

**POSTGRE**

In [13]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.10-cp310-cp310-win_amd64.whl (1.2 MB)
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.10

WARNING: You are using pip version 21.2.3; however, version 25.0.1 is available.
You should consider upgrading via the 'C:\Users\vipul\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [15]:
import pandas as pd
file1 = pd.read_csv('E:/downloads/Advertising.csv',index_col=0)
file1.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [18]:
import psycopg2

conn = psycopg2.connect(
    host="localhost",
    port = 5432,
    user="postgres",
    password="725@Post",
    database="testdb"
)

cursor = conn.cursor()

In [19]:
for idx,data_row in file1.iterrows():
    #print(data_row)
    post_query = "insert into advertising (tv,radio,newspaper,sales) values (%s , %s, %s, %s)"
    values = (float(data_row['TV']),float(data_row['radio']),float(data_row['newspaper']),
              float(data_row['sales']))
    cursor.execute(sql_query,values)

conn.commit()
cursor.close()
conn.close()